pip
setuptools

git+https://github.com/pallets/flask.git@88500f5cc709e2e931e6547ed9b58033a50215a8#egg=flask
Flask-HTTPAuth==3.1.2
flask-marshmallow==0.6.2
Flask-RESTful==0.3.5
Flask-SQLAlchemy==2.1
marshmallow==2.7.3
marshmallow-sqlalchemy==0.8.1
#psycopg2==2.6.1
python-dateutil==2.5.3
WTForms==2.1
