body {color: rebeccapurple}
.flashes { background: #cee5F5; padding: 0.5em; border: 1px solid #aacbe2; }

#window {padding: 0.5em; float: left; margin: 0 10px 10px 0; border-style: solid;}
#window .header { cursor: move;
    background-color: rgba(43, 0, 0, 0.22);}