<!DOCTYPE html>
{% import 'macros.html' as macros %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script>
        $(function() {
          $( "#window" ).draggable({ handle: "p" });
//          $( "div, p" ).disableSelection();
        });
    </script>
    <title>Main</title>
</head>
<body>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

{% if user %}
  <div>Welcome, {{user.username}}</div>

<form method="POST" action="/">
    {{macros.form_field(form.ticket)}}
    {{macros.form_field(form.time_spent)}}
    {{macros.form_field(form.date)}}
    {{macros.form_field(form.description)}}
    <input type="submit" value="Submit">
</form>

{% else %}
<p>Welcome to tt app.</p>
<a href="/login">login</a>
{% endif %}

<div id="window" class="ui-widget-content">
    <p class="header">Chat<span> _ </span><span> X </span></p>
    <div id="chat-log"></div>
    <div>Message: <input type="text" id="chat-input"></div>
</div>
<script>
        var $chatLog = $("#chat-log");

        $("#chat-input").on("keypress", function(e){
            if (e.keyCode === 13) {
                var msg = $(this).val();
                sendMessage(msg);
            }
        });

        // Create a new instance of the websocket
        webSocket = new WebSocket("ws://localhost:8080/echo");

        webSocket.onopen = function(event){
            console.log(event);
        };

        webSocket.onmessage = function(event){
            var msg = JSON.parse(event.data)
            $chatLog.append("<p>" + msg.username +": " + msg.message + "</p>");
        };
    
        webSocket.onclose = function(event){
            console.log("Connection closed");
        };

        function sendMessage(msg){
            webSocket.send(msg);
        }
</script>

</body>
</html>
